body {
  background: var(--tg-theme-secondary-bg-color, white);
  padding: 0;
  margin: 0;
}

input {
  all: unset;
  /* Resets all styles */
  -webkit-appearance: none;
  /* For older WebKit browsers */
  -moz-appearance: none;
  /* For Firefox */
  appearance: none;
}

/* Disable Cell hover effects */
@media (hover: hover) and (pointer: fine) {
  .tgui-b8dfba0b5c3d054c:hover {
    background: none !important;
  }
}