body {
  background: var(--tg-theme-secondary-bg-color, white);
  padding: 0;
  margin: 0;
}

input {
  all: unset;
  /* Resets all styles */
  -webkit-appearance: none;
  /* For older WebKit browsers */
  -moz-appearance: none;
  /* For Firefox */
  appearance: none;
}